<template>
  <div>
    <div class="position-relative vh-100 landingpage__container">
      <div class="position-absolute landingpage__content">
        <div class="py-3 text-center">
          <img src="../assets/images/school_logo.png" title="Laguna State Polytechnic University Logo" alt="Laguna State Polytechnic University Logo" class="img-fluid login__logo mb-3">
          <h3 class="font-weight-bolder indigo-900">Entrance Examination</h3>
          <h6 class="font-weight-bolder indigo-900">Laguna State Polytechnic University - San Pablo City</h6>
        </div>
        <div class="d-flex">
          <router-link to="/login" class="btn-img mx-3">
            <img src="../assets/images/teacher.png">
            <div class="text-center">
              <h6 class="purple-700">Administrator</h6>
            </div>
          </router-link>
          <router-link to="/register" class="btn-img mx-3">
            <img src="../assets/images/student_exam.png">
            <div class="text-center">
              <h6 class="purple-900">Examinee</h6>
            </div>
          </router-link>
        </div>
      </div>
    </div>
    <ValidationObserver ref="observer">
      <div :class="isToggleConnectionModal">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-5 pb-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="text-center">
                      <p class="text-danger">{{errorMessage}}</p>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="host" rules="required">
                            <div slot-scope="{ errors }">
                              <label class="indigo-800">Database Host <span class="text-danger">*</span></label>
                              <input type="text" v-model="connection.host" class="form-control" placeholder="127.0.0.1">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="port" rules="required">
                            <div slot-scope="{ errors }">
                              <label class="indigo-800">Database Port <span class="text-danger">*</span></label>
                              <input type="number" v-model="connection.port" class="form-control" placeholder="3306">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="username" rules="required">
                            <div slot-scope="{ errors }">
                              <label class="indigo-800">Database Username <span class="text-danger">*</span></label>
                              <input type="text" v-model="connection.username" class="form-control" placeholder="root">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="password">
                            <div slot-scope="{ errors }">
                              <label class="indigo-800">Database Password <span class="text-danger">*</span></label>
                              <input type="password" v-model="connection.password" class="form-control" placeholder="root">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="schema" rules="required">
                            <div slot-scope="{ errors }">
                              <label class="indigo-800">Database Schema <span class="text-danger">*</span></label>
                              <input type="text" v-model="connection.schema" class="form-control" placeholder="Database name">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-purple-700" @click="onValidate">Connect</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>
  </div>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'
import { pool } from '../backend/configurations/db'

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      username: window.localStorage.getItem('db_username'),
      schema: window.localStorage.getItem('db_schema'),
      password: window.localStorage.getItem('db_password'),
      host: window.localStorage.getItem('db_host'),
      port: window.localStorage.getItem('db_port'),
      isToggleConnectionModal: 'moda fade show d-block',
      connection: {
        username: '',
        schema: '',
        password: '',
        host: '',
        port: 8889
      },
      errorMessage: '',
      is_connected: '0',
      local_set: '0'
    }
  },
  created () {
    this.checkDatabaseConnection()
  },
  methods: {
    checkDatabaseConnection () {
      if (this.username === null || this.schema === null || this.password === null || this.host === null || this.port === null) {
        this.isToggleConnectionModal = 'modal fade show d-block'
        this.local_set = '0'
      } else {
        this.local_set = '1'
        this.connectToDatabase()
      }
    },
    async onValidate () {
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        this.connectToDatabase()
      }
    },
    connectToDatabase () {
      if (this.local_set === '0') {
        window.localStorage.setItem('db_username', this.connection.username)
        window.localStorage.setItem('db_schema', this.connection.schema)
        window.localStorage.setItem('db_password', this.connection.password)
        window.localStorage.setItem('db_host', this.connection.host)
        window.localStorage.setItem('db_port', this.connection.port)
      }

      pool.authenticate().then(() => {
        this.isToggleConnectionModal = 'modal fade'
      }).catch(error => {
        console.log(this.connection)
        this.errorMessage = 'Database connection failed. Please try again.'
        console.error('Database connection failed message: ', error)
        window.localStorage.clear()
      })
    }
  }
}
</script>