<template>
  <div :class="isToggleClass" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"></div>
      <div class="list-group list-group-flush mt-5">
        <p class="list-group-header m-0">NAVIGATION</p>
        <router-link to="/dashboard" class="list-group-item list-group-item-action"><i class="fas fa-home pl-3 pr-2"></i> Dashboard</router-link>
        <router-link to="/dashboard/examinees" class="list-group-item list-group-item-action"><i class="fas fa-id-card pl-3 pr-2"></i>Examinees</router-link>
        <router-link to="/dashboard/exams" class="list-group-item list-group-item-action"><i class="fas fa-list-alt pl-3 pr-2"></i>Exam Managment</router-link>
        <p class="mb-0">
          <a class="list-group-item list-group-item-action mb-0" @click="onToggleReports" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fas fa-chart-bar pl-3 pr-2"></i> Data Analytics</a>
        </p>
        <div class="row my-0 py-0 pl-4">
          <div class="col">
            <div :class="isShow === true ? 'collapse multi-collapse show' : 'collapse multi-collapse'" id="multiCollapseExample1">
              <router-link to="/dashboard/data-analytics/gender" class="list-group-item list-group-item-action"><i class="fas fa-venus-mars pl-3 pr-2"></i>By Gender</router-link>
              <router-link to="/dashboard/data-analytics/strand" class="list-group-item list-group-item-action"><i class="fas fa-bars pl-3 pr-2"></i>By Strand</router-link>
              <router-link to="/dashboard/data-analytics/school" class="list-group-item list-group-item-action"><i class="fas fa-school pl-3 pr-2"></i>By School Type</router-link>
              <router-link to="/dashboard/data-analytics/score" class="list-group-item list-group-item-action"><i class="fas fa-venus-mars pl-3 pr-2"></i>By Score</router-link>
            </div>
          </div>
        </div>
        <p class="mb-0">
          <a class="list-group-item list-group-item-action mb-0" @click="onToggleItem" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fas fa-diagnoses pl-3 pr-2"></i> Item Analysis</a>
        </p>
        <div class="row my-0 py-0 pl-4">
          <div class="col">
            <div :class="isShowItem === true ? 'collapse multi-collapse show' : 'collapse multi-collapse'" id="multiCollapseExample1">
              <router-link to="/dashboard/item-analysis/question" class="list-group-item list-group-item-action"><i class="fas fa-question-circle pl-3 pr-2"></i>Per Question</router-link>
              <router-link to="/dashboard/item-analysis/choices" class="list-group-item list-group-item-action"><i class="fas fa-list-ul pl-3 pr-2"></i>Per Choices</router-link>
            </div>
          </div>
        </div>
        <router-link to="/dashboard/z-score" class="list-group-item list-group-item-action"><i class="fas fa-list-alt pl-3 pr-2"></i>Z-Score</router-link>
        <router-link to="/dashboard/users" class="list-group-item list-group-item-action" v-if="access === 'ADMIN'"><i class="fas fa-users pl-3 pr-2"></i> Users Management</router-link>
        <router-link to="/dashboard/audit-trails" class="list-group-item list-group-item-action" v-if="access === 'ADMIN'"><i class="fas fa-pager pl-3 pr-2"></i> Audit Trail</router-link>
        <router-link to="/dashboard/settings" class="list-group-item list-group-item-action"><i class="fas fa-cogs pl-3 pr-2"></i>Settings</router-link>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg" id="navbar-menu">
        <button class="btn btn-purple-800 outline-0" id="menu-toggle" @click="onToggleSidebar"><i class="fa far fa-bars"></i></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <router-link to="/my-profile" class="nav-link">My Profile</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" @click="logoutUser"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid" id="main-body">
        <slot />
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  </div>
</template>
<script>
import { addTrail } from '../backend/repositories/audit_trails'
import { generateSlug } from '../backend/services/utilities'
export default {
  data () {
    return {
      isToggleClass: 'd-flex',
      access: window.localStorage.getItem('user_access'),
      isShow: false,
      isShowItem: false
    }
  },
  methods: {
    onToggleSidebar () {
      this.isToggleClass = this.isToggleClass === 'd-flex' ? 'd-flex toggled' : 'd-flex'
    },
    logoutUser () {
      addTrail({
        action: 'logout-user',
        user_id: window.localStorage.getItem('user_id'),
        module: 'login',
        data: '',
        slug: generateSlug()
      })
      window.localStorage.removeItem('user_id')
      window.localStorage.removeItem('user_access')
      window.localStorage.removeItem('user')
      this.$router.push({name: 'login-page'})
    },
    onToggleReports () {
      this.isShow = !this.isShow
    },
    onToggleItem () {
      this.isShowItem = !this.isShowItem
    }
  }
}
</script>