<template>
    <dashboard-layout>
        <div class="row p-5">
          <div class="col-sm-6">
            <h3>Audit Trail</h3>
          </div>
        </div>
        <div class="row px-5">
          <div class="col-sm-12">
            <v-client-table :data="tableData" :columns="columns" :options="options">
              <div slot="performed_by" slot-scope="props">
                {{props.row.user.first_name}} {{props.row.user.last_name}}
              </div>
              <div slot="date_performed" slot-scope="props">
                <p>{{formatDate(props.row.createdAt)}}</p>
              </div>
            </v-client-table>
          </div>
        </div>
    </dashboard-layout>
</template>
<script>
import Dashboard from '../../layouts/DashboardLayout'

import { addTrail, getAuditTrails } from '../../backend/repositories/audit_trails'
import moment from 'moment'
import { generateSlug } from '../../backend/services/utilities'
export default {
  components: {
    'dashboard-layout': Dashboard
  },
  data () {
    return {
      columns: ['id', 'slug', 'action', 'module', 'performed_by', 'date_performed'],
      tableData: [],
      options: {
        filterAlgorithm: {
          performed_by (row, query) {
            return (row.user.first_name.toLowerCase() + ' ' + row.user.last_name.toLowerCase()).includes(query.toLowerCase())
          },
          date_performed (row, query) {
            return (moment(row.createdAt).format('D MMMM YYYY  h:mm:ss A').toLowerCase()).includes(query.toLowerCase())
          }
        }
      }
    }
  },
  mounted () {
    this.fetchAuditTrails()
  },
  created () {
    this.fetchAuditTrails()
    addTrail({
      action: 'view-audit-trails',
      user_id: window.localStorage.getItem('user_id'),
      module: 'audit-trail',
      data: '',
      slug: generateSlug()
    })
  },
  methods: {
    fetchAuditTrails () {
      let vm = this
      getAuditTrails().then(audit => {
        vm.tableData = audit
      })
    },
    formatDate (dateTime) {
      return moment(dateTime).format('D MMMM YYYY  h:mm:ss A')
    }
  }
}
</script>