<template>
  <dashboard-layout>
    <div class="row p-5">
      <div class="col-sm-6">
        <h3>Dashboard</h3>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-sm-12 d-flex">
        <div class="card text-white bg-primary mb-3 mr-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{num_students}}</h5>
            <p class="card-text">Number of Examinees Added</p>
          </div>
        </div>
        <div class="card text-white bg-secondary mb-3 mr-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{num_questions}}</h5>
            <p class="card-text">Number of Questions Added</p>
          </div>
        </div>
        <div class="card text-white bg-warning mb-3 mr-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{num_users}}</h5>
            <p class="card-text">Number of Users Added</p>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import Dashboard from '../../layouts/DashboardLayout'
import { getStudents } from '../../backend/repositories/students'
import { getAllQuestions } from '../../backend/repositories/questions'
import { getUser } from '../../backend/repositories/users'
export default {
  data () {
    return {
      num_students: 0,
      num_questions: 0,
      num_users: 0
    }
  },
  components: {
    'dashboard-layout': Dashboard
  },
  created () {
    this.fetchStudents()
    this.fetchQuestions()
    this.fetchUsers()
  },
  methods: {
    fetchStudents () {
      getStudents().then(reports => {
        this.num_students = reports.length
      })
    },
    fetchQuestions () {
      getAllQuestions().then(reports => {
        this.num_questions = reports.length
      })
    },
    fetchUsers () {
      getUser().then(reports => {
        this.num_users = reports.length
      })
    }
  }
}
</script>