<template>
  <dashboard-layout>
    <div class="row p-5">
      <div class="col-sm-6">
        <h3>Exam Management</h3>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-purple-600" data-toggle="modal" data-target="#modal-create-user" @click="onClickCreateSubject">
          <i class="fas fa-list-alt"></i> 
          New Category
        </button>
        <button class="btn btn-secondary" data-toggle="modal" data-target="#modal-create-user" @click="onClickEditExamSettings">
          <i class="fas fa-sliders-h"></i> 
          Exam Settings
        </button>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-sm-12">
        <v-client-table :data="tableData" :columns="columns" :options="options">
          <div slot="status" slot-scope="props">
            <p v-if="props.row.is_active === '1'" class="badge badge-success text-white p-1">Active</p>
            <p v-else class="badge badge-danger text-white p-1">In Active</p>
          </div>
          <div slot="actions" slot-scope="props">
            <button class="btn btn-sm btn-purple-500" @click="onClickEditSubject(props.row)"><i class="far fa-edit"></i> Edit</button>
            <router-link :to="`/dashboard/subject/${props.row.id}/questions`" class="btn btn-sm btn-secondary"><i class="fas fa-list-ol"></i> Questions</router-link>
          </div>
        </v-client-table>
      </div>
    </div>
    <ValidationObserver ref="examSettingsObserver">
      <div :class="isToggleExamSettingsModalClass" id="modal-exam-settings">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleInputEmail1" class="indigo-800">Time Limit<span class="text-danger">*</span></label>
                          <div class="d-flex">
                            <ValidationProvider name="hours" rules="required">
                              <div slot-scope="{ errors }">
                                <select class="form-control" v-model="exam.hours">
                                  <option hidden>Choose how many hours</option>
                                  <option value="00">00</option>
                                  <option value="01">01</option>
                                  <option value="02">02</option>
                                  <option value="03">03</option>
                                  <option value="04">04</option>
                                  <option value="05">05</option>
                                  <option value="06">06</option>
                                  <option value="07">08</option>
                                  <option value="09">09</option>
                                  <option value="10">10</option>
                                  <option value="10">11</option>
                                  <option value="12">12</option>
                                  <option value="13">13</option>
                                  <option value="14">14</option>
                                  <option value="15">15</option>
                                  <option value="16">16</option>
                                  <option value="17">18</option>
                                  <option value="19">19</option>
                                  <option value="20">20</option>
                                  <option value="21">21</option>
                                  <option value="22">22</option>
                                  <option value="23">23</option>
                                </select>
                                <p class="text-danger">{{ errors[0] }}</p>
                              </div>
                            </ValidationProvider>
                            <span>:</span>
                            <ValidationProvider name="minutes" rules="required">
                              <div slot-scope="{ errors }">
                                <select class="form-control" v-model="exam.minutes">
                                  <option hidden>Choose how many minutes</option>
                                  <option value="00">00</option>
                                  <option value="05">05</option>
                                  <option value="10">10</option>
                                  <option value="15">15</option>
                                  <option value="20">20</option>
                                  <option value="25">25</option>
                                  <option value="30">30</option>
                                  <option value="35">35</option>
                                  <option value="40">40</option>
                                  <option value="45">45</option>
                                  <option value="50">50</option>
                                  <option value="55">55</option>
                                </select>
                                <p class="text-danger">{{ errors[0] }}</p>
                              </div>
                            </ValidationProvider>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="passing grade" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Passing Grade <span class="text-danger">*</span></label>
                              <input type="number" v-model="exam.passing_grade" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="description" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Description <span class="text-danger">*</span></label>
                              <textarea class="form-control" v-model="exam.description" placeholder="Please provide your exam description here."></textarea>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="instructions" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Instruction <span class="text-danger">*</span></label>
                              <textarea class="form-control" v-model="exam.instructions" placeholder="Please provide your exam instruction here."></textarea>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" @click="isToggleExamSettingsModalClass = 'modal fade'">Cancel</button>
              <button class="btn btn-purple-700" @click="onValidateExamSettings">Save Setting</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>

    <ValidationObserver ref="createSubjectObserver">
      <div :class="isToggleAddModalClass" id="modal-create-subject">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-5 pb-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="subject name" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputEmail1" class="indigo-800">Name <span class="text-danger">*</span></label>
                              <input type="text" v-model="subject.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="subject description" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Description <span class="text-danger">*</span></label>
                              <textarea v-model="subject.description" class="form-control"></textarea>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="status" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Status <span class="text-danger">*</span></label>
                              <select class="form-control rounded-0" v-model="subject.is_active">
                                <option hidden>Choose your status</option>
                                <option value="1">Active</option>
                                <option value="0">In Active</option>
                              </select>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn bg-secondary" @click="isToggleAddModalClass = 'modal fade'">Cancel</button>
              <button class="btn btn-purple-700" @click="onValidateSubject">Save</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>

    <div :class="isToggleSuccessModalClass" id="modal-message">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body pt-5 pb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <i class="far fa-check-circle purple-800 fa-5x pb-3"></i>
                  <h2>Changes Applied!</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button class="btn btn-lg btn-purple-700 px-4" @click="onClickCloseSuccessModal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'
import Dashboard from '../../layouts/DashboardLayout'

import { getSubject, addSubject, updateSubject } from '../../backend/repositories/subjects'
import { getExam, updateExam } from '../../backend/repositories/exams'
import { addTrail } from '../../backend/repositories/audit_trails'
import { generateSlug } from '../../backend/services/utilities'
export default {
  data () {
    return {
      columns: ['slug', 'name', 'description', 'status', 'actions'],
      tableData: [],
      options: {
      },
      myHTML: '',
      action: 'create',
      subject: {
        slug: generateSlug(),
        name: '',
        description: '',
        is_active: '1'
      },
      subjct_id: '',
      isToggleSuccessModalClass: 'modal fade',
      isToggleAddModalClass: 'modal fade',
      isToggleExamSettingsModalClass: 'modal fade',
      isToggleQuestion: 'modal fade',
      exam: {}
    }
  },
  components: {
    'dashboard-layout': Dashboard,
    ValidationProvider,
    ValidationObserver
  },
  created () {
    this.fetchSubjects()
    addTrail({
      action: 'view-exam',
      user_id: window.localStorage.getItem('user_id'),
      module: 'exam-management',
      data: '',
      slug: generateSlug()
    })
  },
  methods: {
    onClickCloseSuccessModal () {
      this.isToggleSuccessModalClass = 'modal fade'
    },
    fetchSubjects () {
      getSubject().then(subjects => {
        this.tableData = subjects
      })
    },
    fetchExam () {
      getExam().then(examResult => {
        this.exam = examResult
        console.log(this.exam)
      })
    },
    onClickCreateSubject () {
      this.subject = {
        slug: generateSlug(),
        name: '',
        description: '',
        is_active: '1'
      }
      this.subject_id = ''
      this.action = 'create'
      this.isToggleAddModalClass = 'modal fade show d-block'
    },
    onClickEditSubject (selectedSubject) {
      this.subject = {
        slug: selectedSubject.dataValues.slug,
        name: selectedSubject.dataValues.name,
        description: selectedSubject.dataValues.description,
        is_active: selectedSubject.dataValues.is_active
      }
      this.subject_id = selectedSubject.dataValues.id
      this.action = 'edit'
      this.isToggleAddModalClass = 'modal fade show d-block'
    },
    onClickEditExamSettings () {
      this.isToggleExamSettingsModalClass = 'modal fade show d-block'
      this.fetchExam()
    },
    async onValidateSubject () {
      const isValid = await this.$refs.createSubjectObserver.validate()
      if (isValid) {
        this.save()
      }
    },
    async onValidateExamSettings () {
      const isValid = await this.$refs.examSettingsObserver.validate()
      if (isValid) {
        this.saveExamSettings()
      }
    },
    save () {
      if (this.action === 'create') {
        let vm = this
        let data = {
          name: this.subject.name,
          description: this.subject.description,
          is_active: this.subject.is_active,
          slug: generateSlug()
        }
        addSubject(data).then(subjectResult => {
          vm.isToggleAddModalClass = 'modal fade'
          vm.isToggleSuccessModalClass = 'modal fade show d-block'
          addTrail({
            action: 'create-subject',
            user_id: window.localStorage.getItem('user_id'),
            module: 'subject-management',
            data: JSON.stringify(vm.data),
            slug: generateSlug()
          })
          vm.fetchSubjects()
        })
      }
      if (this.action === 'edit') {
        let vm = this
        updateSubject(this.subject, this.subject_id).then(subjectResult => {
          vm.isToggleAddModalClass = 'modal fade'
          vm.isToggleSuccessModalClass = 'modal fade show d-block'
          addTrail({
            action: 'update-subject',
            user_id: window.localStorage.getItem('user_id'),
            module: 'subject-management',
            data: JSON.stringify(vm.subject),
            slug: generateSlug()
          })
          vm.fetchSubjects()
        })
      }
    },
    saveExamSettings () {
      let data = {
        hours: this.exam.hours,
        minutes: this.exam.minutes,
        passing_grade: this.exam.passing_grade,
        instructions: this.exam.instructions,
        description: this.exam.description
      }
      updateExam(data, this.exam.id).then(examResult => {
        this.isToggleExamSettingsModalClass = 'modal fade'
        this.isToggleSuccessModalClass = 'modal fade show d-block'
        addTrail({
          action: 'update-exam-settings',
          user_id: window.localStorage.getItem('user_id'),
          module: 'exam-management',
          data: JSON.stringify(this.exam),
          slug: generateSlug()
        })
        this.fetchExam()
      })
    }
  }
}
</script>