<template>
  <dashboard-layout>
    <div class="row p-5">
      <div class="col-sm-6">
        <h3>My Profile</h3>
      </div>
    </div>
    <div class="row px-5 pb-5">
      <div class="col-sm-12">
      <!-- Name -->
        <ValidationObserver ref="observer">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="last name" rules="required">
                  <div slot-scope="{ errors }">
                    <label for="exampleInputPassword1" class="indigo-800">Last Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputPassword1" v-model="user.last_name">
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="first name" rules="required">
                  <div slot-scope="{ errors }">
                    <label for="exampleInputPassword1" class="indigo-800">First Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputPassword1" v-model="user.first_name">
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="middle name" rules="required">
                  <div slot-scope="{ errors }">
                    <label for="exampleInputPassword1" class="indigo-800">Middle Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" v-model="user.middle_name">
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
          </div>
          <!-- END -->
          <!-- Contact -->
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="mobile number" rules="required">
                  <div slot-scope="{ errors }">
                  <label for="exampleInputPassword1" class="indigo-800">Mobile Number <span class="text-danger">*</span></label>
                  <input type="text" v-model="user.mobile_number" class="form-control" id="exampleInputPassword1">
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="email" rules="required|email">
                  <div slot-scope="{ errors }">
                    <label for="exampleInputPassword1" class="indigo-800">Email Address <span class="text-danger">*</span></label>
                    <input type="email" v-model="user.email" class="form-control" id="exampleInputPassword1">
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
          </div>
          <!-- END -->
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="birthdate" rules="required">
                  <div slot-scope="{ errors }">
                    <label for="exampleInputPassword1" class="indigo-800">Birthdate <span class="text-danger">*</span></label>
                    <input type="date" v-model="user.birthdate" class="form-control" id="exampleInputPassword1">
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="gender" rules="required">
                  <div slot-scope="{ errors }">
                    <label for="exampleInputPassword1" class="indigo-800">Gender <span class="text-danger">*</span></label>
                    <select class="form-control rounded-0" v-model="user.gender">
                      <option hidden>Choose your gender</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
          </div>
          <!-- END -->
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <ValidationProvider name="address" rules="required">
                  <div slot-scope="{ errors }">
                    <label for="exampleInputPassword1" class="indigo-800">Address <span class="text-danger">*</span></label>
                    <input type="text" v-model="user.address" class="form-control" id="exampleInputPassword1">
                    <p class="text-danger">{{ errors[0] }}</p>
                  </div>
                </ValidationProvider>
              </div>
            </div>
          </div>
          <!-- SUBMIT -->
          <div class="form-row">
            <div class="col">
              <div class="form-group text-right">
                <button class="btn btn-purple-700 btn-lg" @click="validateForm">Save</button>
              </div>
            </div>
          </div>
        </ValidationObserver>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import Dashboard from '../../layouts/DashboardLayout'
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'
import moment from 'moment'

import { findUser, updateUser } from '../../backend/repositories/users'
import { addTrail } from '../../backend/repositories/audit_trails'
import { generateSlug } from '../../backend/services/utilities'
export default {
  components: {
    'dashboard-layout': Dashboard,
    ValidationProvider,
    ValidationObserver
  },
  created () {
    this.fetchUser()
  },
  data () {
    return {
      user_id: window.localStorage.getItem('user_id'),
      user: {
        first_name: '',
        last_name: '',
        middle_name: '',
        gender: '',
        birthdate: moment(new Date()).format('yyyy-MM-DD'),
        address: '',
        mobile_number: '',
        email: ''
      }
    }
  },
  methods: {
    async validateForm () {
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        this.save()
      }
    },
    fetchUser () {
      let vm = this
      findUser({id: this.user_id}).then(response => {
        vm.user = {
          first_name: response[0].first_name,
          last_name: response[0].last_name,
          middle_name: response[0].middle_name,
          gender: response[0].gender,
          birthdate: moment(new Date(response[0].birthdate)).format('yyyy-MM-DD'),
          address: response[0].address,
          mobile_number: response[0].mobile_number,
          email: response[0].email
        }
      })
    },
    save () {
      let vm = this
      let userData = {
        first_name: this.user.first_name,
        last_name: this.user.last_name,
        middle_name: this.user.middle_name,
        gender: this.user.gender,
        birthdate: new Date(this.user.birthdate),
        address: this.user.address,
        mobile_number: this.user.mobile_number,
        email: this.user.email
      }
      updateUser(userData, this.user_id).then(userResult => {
        vm.isToggleUserModalClass = 'modal fade'
        vm.isToggleUserSuccessModalClass = 'modal fade show d-block'
        addTrail({
          action: 'update-my-profile',
          user_id: window.localStorage.getItem('user_id'),
          module: 'general',
          data: JSON.stringify(vm.user),
          slug: generateSlug()
        })
      })
    }
  }
}
</script>