<template>
  <dashboard-layout>
    <div class="row p-5">
      <div class="col-sm-6">
        <h3>Questions for {{subject.name}}</h3>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-purple-600" data-toggle="modal" data-target="#modal-create-question" @click="onClickCreateQuestion">
          <i class="fas fa-list-alt"></i> 
          New Question
        </button>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-sm-12">
        <v-client-table :data="tableData" :columns="columns" :options="options">
          <div slot="status" slot-scope="props">
            <p v-if="props.row.is_active === '1'" class="badge badge-success text-white p-1">Active</p>
            <p v-else class="badge badge-danger text-white p-1">In Active</p>
          </div>
          <div slot="actions" slot-scope="props">
            <button class="btn btn-sm btn-purple-500" @click="onClickEditQuestion(props.row)"><i class="far fa-edit"></i> Edit</button>
            <button class="btn btn-sm btn-danger" @click="onClickDeleteQuestion(props.row)"><i class="far fa fa-trash"></i> Delete</button>
          </div>
        </v-client-table>
      </div>
    </div>
    <ValidationObserver ref="observer">
      <div :class="isToggleCreateQuestionModalClass" id="modal-question-management">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="question" rules="required">
                            <div slot-scope="{ errors }">
                              <label class="indigo-800">Question <span class="text-danger">*</span></label>
                              <input type="text" v-model="question.title" class="form-control">
                              <p class="text-danger">{{ errors[0] }}</p>
                              </div>
                            </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label class="indigo-800">Description</label>
                          <wysiwyg v-model="question.description" />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleInputPassword1" class="indigo-800">Status <span class="text-danger">*</span></label>
                          <select class="form-control rounded-0" v-model="question.is_active">
                            <option hidden>Choose your status</option>
                            <option value="1">Active</option>
                            <option value="0">In Active</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col text-left">
                        <label class="indigo-800">Choices <span class="text-danger">*</span></label>
                        <p class="text-danger">{{errorMessage}}</p>
                      </div>
                      <div class="col text-right">
                        <button class="btn btn-sm btn-purple-500" @click="addChoices"><i class="fas fa-plus"></i></button>
                      </div>
                    </div>
                    <div class="form-row pt-3">
                      <div class="col">
                        <div class="form-group">
                          <div class="input-group mb-2" v-for="(newChoice, index) in newChoices">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend">
                                <input type="radio" name="choice" :value="index" class="pb-2" :checked="(newChoice.is_answer === '1') ? 'checked' : ''" @change="onChangeAnswer($event)">
                              </span>
                            </div>
                            <input type="text" class="form-control" v-model="newChoice.text" id="validationCustomUsername" aria-describedby="inputGroupPrepend">
                            <div class="input-group-prepend">
                              <button class="btn btn-purple-800" type="button" @click="deleteNewChoice(index)"><i class="fas fa-times"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" @click="isToggleCreateQuestionModalClass = 'modal fade'">Cancel</button>
              <button class="btn btn-purple-700" @click="onValidate">Save</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>
    <div :class="isToggleSuccessModalClass" id="modal-message">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body pt-5 pb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <i class="far fa-check-circle purple-800 fa-5x pb-3"></i>
                  <h2>Changes Applied!</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button class="btn btn-lg btn-purple-700 px-4" @click="isToggleSuccessModalClass = 'modal fade'">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div :class="isToggleAreYouSureModal" id="modal-message">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body pt-5 pb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <i class="far fa-check-circle purple-800 fa-5x pb-3"></i>
                  <h2>Are you sure you want to delete this question?</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button class="btn btn-lg btn-secondary px-4" @click="isToggleAreYouSureModal = 'modal fade'">No</button>
            <button class="btn btn-lg btn-purple-700 px-4" @click="handleOnClickDeleteQuestion">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'
import Dashboard from '../../layouts/DashboardLayout'
import { getSubjectById } from '../../backend/repositories/subjects'
import { getQuestion, addQuestion, updateQuestion } from '../../backend/repositories/questions'
import { getChoices, addChoices, deleteChoices } from '../../backend/repositories/choices'
import { generateSlug } from '../../backend/services/utilities'
import { addTrail } from '../../backend/repositories/audit_trails'

export default {
  components: {
    'dashboard-layout': Dashboard,
    ValidationProvider,
    ValidationObserver
  },
  created () {
    this.fetchSubject()
    this.fetchQuestion()
    addTrail({
      action: 'view-quesion',
      user_id: window.localStorage.getItem('user_id'),
      module: 'exam-management',
      data: '',
      slug: generateSlug()
    })
  },
  data () {
    return {
      columns: ['slug', 'title', 'status', 'actions'],
      subject_id: this.$route.params.id,
      subject: {},
      tableData: [],
      options: {
      },
      newChoices: [
        {
          text: '',
          is_answer: '1',
          question_id: this.question_id,
          slug: generateSlug()
        }
      ],
      question_id: '',
      question: {
        title: '',
        description: '',
        is_active: '1',
        slug: generateSlug(),
        exam_id: 1
      },
      action: 'create',
      isToggleCreateQuestionModalClass: 'modal fade',
      isToggleSuccessModalClass: 'modal fade',
      isToggleAreYouSureModal: 'modal fade',
      errorMessage: ''
    }
  },
  mounted () {
    this.addChoices()
  },
  methods: {
    fetchSubject () {
      getSubjectById(this.subject_id).then(subject => {
        this.subject = subject
      })
    },
    fetchQuestion () {
      getQuestion({
        subject_id: this.subject_id,
        exam_id: 1,
        is_deleted: 0
      }).then(questions => {
        this.tableData = questions
      })
    },
    fetchChoices (questionId) {
      getChoices({
        question_id: questionId
      }).then(choices => {
        if (choices.length !== 0) {
          this.newChoices = choices.map(choice => {
            return {
              text: choice.dataValues.text,
              is_answer: choice.dataValues.is_answer,
              question_id: questionId,
              slug: choice.dataValues.slug
            }
          })
        } else {
          this.newChoices = [
            {
              text: '',
              is_answer: '0',
              question_id: questionId,
              slug: generateSlug()
            }
          ]
        }
      })
    },
    addChoices () {
      this.newChoices.push({
        text: '',
        is_answer: '0',
        question_id: this.question_id,
        slug: generateSlug()
      })
    },
    deleteNewChoice (index) {
      this.newChoices.splice(index, 1)
    },
    onClickCreateQuestion () {
      this.isToggleCreateQuestionModalClass = 'modal fade show d-block'
      this.question = {
        title: '',
        description: '',
        is_active: '1',
        slug: generateSlug(),
        exam_id: 1
      }
      this.action = 'create'
      this.newChoices = [
        {
          text: '',
          is_answer: '0',
          question_id: this.question_id,
          slug: generateSlug()
        }
      ]
    },
    onChangeAnswer (evt) {
      this.newChoices.map((choice, index) => {
        this.newChoices[index].is_answer = '0'
      })
      this.newChoices[evt.target.value].is_answer = '1'
    },
    onClickEditQuestion (questionRow) {
      this.question_id = questionRow.id
      this.fetchChoices(questionRow.id)
      this.question = {
        title: questionRow.title,
        description: questionRow.description,
        is_active: questionRow.is_active,
        slug: questionRow.slug,
        exam_id: 1
      }
      this.isToggleCreateQuestionModalClass = 'modal fade show d-block'
      this.action = 'edit'
    },
    onClickDeleteQuestion (questionRow) {
      this.question_id = questionRow.id
      this.isToggleAreYouSureModal = 'modal fade show d-block'
    },
    handleOnClickDeleteQuestion () {
      this.isToggleAreYouSureModal = 'modal fade'
      updateQuestion({is_active: 0, is_deleted: 1}, this.question_id).then(result => {
        this.isToggleAreYouSureModal = 'modal fade'
        this.isToggleSuccessModalClass = 'modal fade show d-block'
        this.fetchQuestion()
        addTrail({
          action: 'delete-quesiton',
          user_id: window.localStorage.getItem('user_id'),
          module: 'exam-management',
          data: JSON.stringify(this.question),
          slug: generateSlug()
        })
      })
    },
    async onValidate () {
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        let errorCount = 0
        let haveAnswer = 0
        let haveAnswerEmpty = 0

        if (this.newChoices.length === 0) {
          errorCount += 1
          this.errorMessage = 'Choices are reqired.'
          return false
        }

        this.newChoices.map(choice => {
          if (choice.text === '') {
            haveAnswerEmpty += 1
          }
          if (choice.is_answer === '1') {
            haveAnswer += 1
          }
        })

        if (haveAnswer === 0) {
          this.errorMessage = 'Please select one answer for this question.'
          errorCount += 1
        }

        if (haveAnswerEmpty > 0) {
          this.errorMessage = 'Please enter description for the empty choices.'
          errorCount += 1
        }

        if (errorCount === 0) {
          this.errorMessage = ''
          this.save()
        }
      }
    },
    save () {
      if (this.action === 'create') {
        this.question.subject_id = this.subject_id
        addQuestion(this.question).then(result => {
          this.question_id = result.id
          this.newChoices.map((choice, index) => {
            this.newChoices[index].question_id = this.question_id
          })
          addChoices(this.newChoices).then(result => {
            this.isToggleCreateQuestionModalClass = 'modal fade'
            this.isToggleSuccessModalClass = 'modal fade show d-block'
            this.fetchQuestion()
          })
          addTrail({
            action: 'add-quesiton-answer',
            user_id: window.localStorage.getItem('user_id'),
            module: 'exam-management',
            data: JSON.stringify(this.question),
            slug: generateSlug()
          })
        })
      }

      if (this.action === 'edit') {
        updateQuestion(this.question, this.question_id).then(result => {
          deleteChoices(this.question_id).then(() => {
            addChoices(this.newChoices).then(result => {
              this.isToggleCreateQuestionModalClass = 'modal fade'
              this.isToggleSuccessModalClass = 'modal fade show d-block'
              this.fetchQuestion()
            })
          })
          addTrail({
            action: 'edit-quesiton-answer',
            user_id: window.localStorage.getItem('user_id'),
            module: 'exam-management',
            data: JSON.stringify(this.question),
            slug: generateSlug()
          })
        })
      }
    }
  }
}
</script>