<template>
  <dashboard-layout>
    <div class="row p-5">
      <div class="col-sm-6">
        <h3>Settings</h3>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a :class="is_active === 'course' ? 'nav-link active' : 'nav-link'" id="courses-tab" data-toggle="tab" href="#courses" role="tab" @click="onClickTab('course')">Courses</a>
          </li>
          <li class="nav-item" role="presentation">
            <a :class="is_active === 'strands' ? 'nav-link active' : 'nav-link'" id="strands-tab" data-toggle="tab" href="#strands" role="tab" @click="onClickTab('strands')">Strands</a>
          </li>
          <li class="nav-item" role="presentation">
            <a :class="is_active === 'database' ? 'nav-link active' : 'nav-link'" id="database-tab" data-toggle="tab" href="#database" role="tab" @click="onClickTab('database')">Database Backup and Restore</a>
          </li>
          <li class="nav-item" role="presentation">
            <a :class="is_active === 'report-path' ? 'nav-link active' : 'nav-link'" id="report-path-tab" data-toggle="tab" href="#report-path" role="tab" @click="onClickTab('report-path')">Report Download Path</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!--Courses-->
          <div :class="is_active === 'course' ? 'tab-pane fade show active' : 'tab-pane fade'" id="courses" role="tabpanel" aria-labelledby="courses-tab">
            <div class="pt-3">
              <div class="row p-0">
                <div class="col-sm-12 text-right">
                  <button class="btn btn-purple-600" data-toggle="modal" @click="onClickNewCourse">New Course</button>
                </div>
              </div>
              <v-client-table :data="courses" :columns="course_table.columns" :options="course_table.options">
                <div slot="status" slot-scope="props">
                  <p v-if="props.row.is_active === '1'" class="badge badge-success text-white p-1">Active</p>
                  <p v-else class="badge badge-danger text-white p-1">In Active</p>
                </div>
                <div slot="actions" slot-scope="props">
                  <button class="btn btn-sm btn-purple-500" @click="onClickEditCourse(props.row)"><i class="far fa-edit"></i></button>
                </div>
              </v-client-table>
            </div>
          </div>
          <!--Strands-->
          <div :class="is_active === 'strands' ? 'tab-pane fade show active' : 'tab-pane fade'" id="strands" role="tabpanel" aria-labelledby="strands-tab">
            <div class="pt-5">
              <div class="row p-0">
                <div class="col-sm-12 text-right">
                  <button class="btn btn-purple-600" data-toggle="modal" @click="onClickNewStrand">New Strand</button>
                </div>
              </div>
              <v-client-table :data="strands" :columns="strand_table.columns" :options="strand_table.options">
                <div slot="status" slot-scope="props">
                  <p v-if="props.row.is_active === '1'" class="badge badge-success text-white p-1">Active</p>
                  <p v-else class="badge badge-danger text-white p-1">In Active</p>
                </div>
                <div slot="actions" slot-scope="props">
                  <button class="btn btn-sm btn-purple-500" @click="onClickEditStrand(props.row)"><i class="far fa-edit"></i></button>
                </div>
              </v-client-table>
            </div>
          </div>
          <!--Database-->
          <div :class="is_active === 'database' ? 'tab-pane fade show active' : 'tab-pane fade'" id="database" role="tabpanel" aria-labelledby="database-tab">
            <div class="py-5">
              <input @change="handleOnChangeBackupPath" :directory="backupPath" webkitdirectory="true" type="file" id="myFile" />
              <button class="btn btn-primary" @click="handleBackUp" placeholder="Choose Directory">Backup Database</button>
              <hr><input @change="handleOnChangeRestorePath" type="file" accept=".sql" id="myRestoreFile" />
              <button class="btn btn-info" @click="handleRestore">Restore Database</button>
            </div>
          </div>
          <!--Report Path-->
          <div :class="is_active === 'report-path' ? 'tab-pane fade show active' : 'tab-pane fade'" id="report-path" role="tabpanel" aria-labelledby="report-path-tab">
            <div class="py-5">
              <p>Current selected directory: {{reportPath}}</p>
              <input @change="handleOnChangeReportPath" :directory="reportPath" webkitdirectory="true" type="file" id="reportPath" />
              <button class="btn btn-primary" @click="handleReportPath">Save Directory you want to save your reports</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Course Modal -->
    <ValidationObserver ref="createCourseObserver">
      <div :class="isToggleCourseModal" id="modal-create-subject">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-5 pb-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="course name" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputEmail1" class="indigo-800">Name <span class="text-danger">*</span></label>
                              <input type="text" v-model="course.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="course code" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Code <span class="text-danger">*</span></label>
                              <input type="text" v-model="course.code" class="form-control">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label for="exampleInputPassword1" class="indigo-800">Description</label>
                          <textarea v-model="course.description" class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="status" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Status <span class="text-danger">*</span></label>
                              <select class="form-control rounded-0" v-model="course.is_active">
                                <option hidden>Choose your status</option>
                                <option value="1">Active</option>
                                <option value="0">In Active</option>
                              </select>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn bg-secondary" @click="isToggleCourseModal = 'modal fade'">Cancel</button>
              <button class="btn btn-purple-700" @click="onValidateCourse">Save</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>

    <!--Strands Modal -->
    <ValidationObserver ref="createStrandObserver">
      <div :class="isToggleStrandModal" id="modal-create-subject">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-5 pb-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="strand name" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputEmail1" class="indigo-800">Name <span class="text-danger">*</span></label>
                              <input type="text" v-model="strand.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="strand code" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Code <span class="text-danger">*</span></label>
                              <input type="text" v-model="strand.code" class="form-control">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="status" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Status <span class="text-danger">*</span></label>
                              <select class="form-control rounded-0" v-model="strand.is_active">
                                <option hidden>Choose your status</option>
                                <option value="1">Active</option>
                                <option value="0">In Active</option>
                              </select>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn bg-secondary" @click="isToggleStrandModal = 'modal fade'">Cancel</button>
              <button class="btn btn-purple-700" @click="onValidateStrand">Save</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>

    <!--Message Modal -->
    <div :class="isToggleSuccessModalClass" id="modal-message">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body pt-5 pb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <i class="far fa-check-circle purple-800 fa-5x pb-3"></i>
                  <h2>Changes Applied!</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button class="btn btn-lg btn-purple-700 px-4" @click="isToggleSuccessModalClass = 'modal fade'">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import moment from 'moment'
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'
import Dashboard from '../../layouts/DashboardLayout'
import { getAllCourses, addCourses, updateCourse } from '../../backend/repositories/courses'
import { getAllStrands, addStrand, updateStrand } from '../../backend/repositories/strands'
import { generateSlug } from '../../backend/services/utilities'
import { addTrail } from '../../backend/repositories/audit_trails'
import { getSettings, updateReportPath } from '../../backend/repositories/settings'

export default {
  components: {
    'dashboard-layout': Dashboard,
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      isToggleSuccessModalClass: 'modal fade',
      backupPath: '',
      restorePath: '',
      is_active: 'course',
      courses: [],
      reportPath: 'C:\\Users\\Public\\Downloads',
      course_table: {
        columns: ['id', 'slug', 'name', 'code', 'description', 'status', 'actions'],
        options: {}
      },
      course_action: 'create',
      course_id: '',
      course: {
        slug: generateSlug(),
        name: '',
        code: '',
        description: '',
        is_active: '1'
      },
      isToggleCourseModal: 'modal fade',
      strands: [],
      strand_table: {
        columns: ['id', 'name', 'code', 'status', 'actions'],
        options: {}
      },
      isToggleStrandModal: 'modal fade',
      strand_action: 'create',
      strand_id: '',
      strand: {
        slug: generateSlug(),
        name: '',
        code: '',
        is_active: '1'
      }
    }
  },
  created () {
    this.fetchCourses()
    this.fetchStrands()
    this.fetchSettings()
    addTrail({
      action: 'view-settings',
      user_id: window.localStorage.getItem('user_id'),
      module: 'settings',
      data: '',
      slug: generateSlug()
    })
  },
  methods: {
    handleOnChangeBackupPath (evt) {
      this.backupPath = document.getElementById('myFile').files[0].path
    },
    handleOnChangeReportPath (evt) {
      this.reportPath = document.getElementById('reportPath').files[0].path
    },
    handleOnChangeRestorePath (evt) {
      this.restorePath = document.getElementById('myRestoreFile').files[0].path
    },
    async handleRestore () {
      const DB_USERNAME = window.localStorage.getItem('db_username')
      const DB_SCHEMA = window.localStorage.getItem('db_schema')
      const DB_PASS = window.localStorage.getItem('db_password')
      const exec = require('child_process').exec
      await exec(`mysql --user=${DB_USERNAME} --password=${DB_PASS} ${DB_SCHEMA} < "${this.restorePath}"`, (error, stdout, stderror) => {
        console.log(stdout)
        console.log(stderror)
        if (error !== null) {
          alert('Failed to restore database. Please check the path or directory')
          console.log(error)
        } else {
          alert('Successfully restore database')
          addTrail({
            action: `restore-database`,
            user_id: window.localStorage.getItem('user_id'),
            module: 'settings',
            data: '',
            slug: generateSlug()
          })
        }
      })
    },
    handleReportPath () {
      updateReportPath({report_path: this.reportPath}).then(result => {
        alert(`Successfully updated the directory to: ${this.reportPath}`)
      })
    },
    async handleBackUp () {
      const DB_USERNAME = window.localStorage.getItem('db_username')
      const DB_SCHEMA = window.localStorage.getItem('db_schema')
      const DB_PASS = window.localStorage.getItem('db_password')
      const fs = require('fs')
      const wstream = fs.createWriteStream(`${this.backupPath}\\eexam${moment(new Date()).format('MMMDDYYYYhmmss')}.sql`)
      const spawn = require('child_process').spawn
      const mysqldump = spawn('mysqldump', [
        '--user=' + DB_USERNAME,
        '--password=' + DB_PASS,
        DB_SCHEMA
      ])
      mysqldump.stdout.pipe(wstream)
        .on('data', function (data) {
          console.log(data)
        })
        .on('finish', function () {
          alert('Successfully backup database')
          addTrail({
            action: `backup-database`,
            user_id: window.localStorage.getItem('user_id'),
            module: 'settings',
            data: '',
            slug: generateSlug()
          })
        })
        .on('error', function (err) {
          alert('Failed to backup database. Please check the path or directory')
          console.log(err)
        })
      mysqldump.stderr.on('data', function (data) {
        console.log('stdout: ' + data)
      })
      mysqldump.on('close', function (code) {
        console.log('closing code: ' + code)
      })
    },

    onClickTab (panel) {
      this.is_active = panel
      addTrail({
        action: `view-${panel}`,
        user_id: window.localStorage.getItem('user_id'),
        module: 'settings',
        data: '',
        slug: generateSlug()
      })
    },

    fetchCourses () {
      getAllCourses().then(result => {
        this.courses = result
      })
    },

    fetchSettings () {
      getSettings().then(result => {
        console.log(result)
        this.reportPath = result.report_path
      })
    },

    onClickNewCourse () {
      this.course = {
        slug: generateSlug(),
        name: '',
        code: '',
        description: '',
        is_active: '1'
      }
      this.course_action = 'create'
      this.isToggleCourseModal = 'modal fade show d-block'
    },

    onClickEditCourse (selectedCourse) {
      this.course = {
        slug: selectedCourse.slug,
        name: selectedCourse.name,
        code: selectedCourse.code,
        description: selectedCourse.decription,
        is_active: selectedCourse.is_active
      }
      this.course_id = selectedCourse.id
      this.course_action = 'edit'
      this.isToggleCourseModal = 'modal fade show d-block'
    },

    async onValidateCourse () {
      const isValid = await this.$refs.createCourseObserver.validate()
      if (isValid) {
        this.saveCourse()
      }
    },

    saveCourse () {
      if (this.course_action === 'create') {
        addCourses(this.course).then(() => {
          this.isToggleCourseModal = 'modal fade'
          this.fetchCourses()
          this.isToggleSuccessModalClass = 'modal fade d-block show'
        })
        addTrail({
          action: 'add-course',
          user_id: window.localStorage.getItem('user_id'),
          module: 'settings',
          data: JSON.stringify(this.course),
          slug: generateSlug()
        })
      }

      if (this.course_action === 'edit') {
        updateCourse(this.course, this.course_id).then(() => {
          this.isToggleCourseModal = 'modal fade'
          this.fetchCourses()
          this.isToggleSuccessModalClass = 'modal fade d-block show'
        })
        addTrail({
          action: 'update-course',
          user_id: window.localStorage.getItem('user_id'),
          module: 'settings',
          data: JSON.stringify(this.course),
          slug: generateSlug()
        })
      }
    },

    fetchStrands () {
      getAllStrands().then(result => {
        this.strands = result
      })
    },

    onClickNewStrand () {
      this.strand = {
        slug: generateSlug(),
        name: '',
        code: '',
        is_active: '1'
      }
      this.strand_action = 'create'
      this.isToggleStrandModal = 'modal fade show d-block'
    },

    onClickEditStrand (selectedStrand) {
      this.strand = {
        slug: selectedStrand.slug,
        name: selectedStrand.name,
        code: selectedStrand.code,
        is_active: selectedStrand.is_active
      }
      this.strand_id = selectedStrand.id
      this.strand_action = 'edit'
      this.isToggleStrandModal = 'modal fade show d-block'
    },

    async onValidateStrand () {
      const isValid = await this.$refs.createStrandObserver.validate()
      if (isValid) {
        this.saveStrand()
      }
    },

    saveStrand () {
      if (this.strand_action === 'create') {
        addStrand(this.strand).then(() => {
          this.isToggleStrandModal = 'modal fade'
          this.fetchStrands()
          this.isToggleSuccessModalClass = 'modal fade d-block show'
        })
        addTrail({
          action: 'add-strand',
          user_id: window.localStorage.getItem('user_id'),
          module: 'settings',
          data: JSON.stringify(this.strand),
          slug: generateSlug()
        })
      }

      if (this.strand_action === 'edit') {
        updateStrand(this.strand, this.strand_id).then(() => {
          this.isToggleStrandModal = 'modal fade'
          this.fetchStrands()
          this.isToggleSuccessModalClass = 'modal fade d-block show'
        })
        addTrail({
          action: 'update-strand',
          user_id: window.localStorage.getItem('user_id'),
          module: 'settings',
          data: JSON.stringify(this.strand),
          slug: generateSlug()
        })
      }
    }
  }
}
</script>