<template>
  <dashboard-layout>
    <div class="row p-5">
      <div class="col-sm-6">
        <h3>User Management</h3>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-purple-600" data-toggle="modal" data-target="#modal-create-user" @click="onClickCreateUser"><i class="fa fa-user"></i> New User</button>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-sm-12">
        <v-client-table :data="tableData" :columns="columns" :options="options">
          <div slot="status" slot-scope="props">
            <p v-if="props.row.is_active === '1'" class="badge badge-success text-white p-1">Active</p>
            <p v-else class="badge badge-danger text-white p-1">In Active</p>
          </div>
          <div slot="access" slot-scope="props">
            <p v-if="props.row.access === 'STAFF'" class="badge badge-info text-white p-1">Guidance Staff</p>
            <p v-if="props.row.access === 'PROF'" class="badge badge-warning text-white p-1">Instructor</p>
            <p v-if="props.row.access === 'ADMIN'" class="badge badge-secondary text-white p-1">Administrator</p>
          </div>
          <div slot="actions" slot-scope="props">
            <button class="btn btn-sm btn-purple-500" @click="onClickEditUser(props.row)"><i class="far fa-edit"></i> Edit</button>
          </div>
        </v-client-table>
      </div>
    </div>

    <ValidationObserver ref="observer">
      <div :class="isToggleUserModalClass" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" id="modal-create-user">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="onCloseCreateUserModal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="first name" rules="required|alpha_spaces">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputEmail1" class="indigo-800">First Name <span class="text-danger">*</span></label>
                              <input type="text" v-model="user.first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="middle name" rules="alpha_spaces">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputEmail1" class="indigo-800">Middle Name</label>
                              <input type="text" v-model="user.middle_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="last name" rules="required|alpha_spaces">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputEmail1" class="indigo-800">Last Name <span class="text-danger">*</span></label>
                              <input type="text" v-model="user.last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="mobile number" rules="required">
                            <div slot-scope="{ errors }">
                            <label for="exampleInputPassword1" class="indigo-800">Mobile Number <span class="text-danger">*</span></label>
                            <input type="text" v-model="user.mobile_number" class="form-control" id="exampleInputPassword1">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="email" rules="required|email">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Email Address <span class="text-danger">*</span></label>
                              <input type="email" v-model="user.email" class="form-control" id="exampleInputPassword1">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="birthdate" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Birthdate <span class="text-danger">*</span></label>
                              <input type="date" v-model="user.birthdate" class="form-control" id="exampleInputPassword1">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="gender" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Gender <span class="text-danger">*</span></label>
                              <select class="form-control rounded-0" v-model="user.gender">
                                <option hidden>Choose your gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                              </select>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="username" rules="required|alpha_num|min:8">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Username <span class="text-danger">*</span></label>
                              <input type="text" v-model="user.username" class="form-control" id="exampleInputPassword1">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="password" rules="alpha_num|min:8">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Password <span class="text-danger">*</span></label>
                              <input type="password" v-model="user.password" class="form-control" id="exampleInputPassword1">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="address" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Address <span class="text-danger">*</span></label>
                              <input type="text" v-model="user.address" class="form-control" id="exampleInputPassword1">
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="access" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Assign Access <span class="text-danger">*</span></label>
                              <select class="form-control rounded-0" v-model="user.access">
                                <option hidden>Choose your access</option>
                                <option value="STAFF">Staff</option>
                                <option value="PROF">Professor</option>
                                <option value="ADMIN">Administrator</option>
                              </select>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <ValidationProvider name="status" rules="required">
                            <div slot-scope="{ errors }">
                              <label for="exampleInputPassword1" class="indigo-800">Status <span class="text-danger">*</span></label>
                              <select class="form-control rounded-0" v-model="user.is_active">
                                <option hidden>Choose your status</option>
                                <option value="1">Active</option>
                                <option value="0">In Active</option>
                              </select>
                              <p class="text-danger">{{ errors[0] }}</p>
                            </div>
                          </ValidationProvider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-purple-700" @click="validateForm">Save</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>

    <div :class="isToggleUserSuccessModalClass" id="modal-message">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body pt-5 pb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <i class="far fa-check-circle purple-800 fa-5x pb-3"></i>
                  <h2>Changes Applied!</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button class="btn btn-lg btn-purple-700 px-4" @click="onClickCloseSuccessModal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import Dashboard from '../../layouts/DashboardLayout'
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'

import { getUser, addUser, updateUser } from '../../backend/repositories/users'
import { addTrail } from '../../backend/repositories/audit_trails'
import bcrypt from 'bcryptjs'
import { generateSlug } from '../../backend/services/utilities'

export default {
  components: {
    'dashboard-layout': Dashboard,
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      columns: ['username', 'first_name', 'last_name', 'email', 'mobile_number', 'status', 'access', 'actions'],
      tableData: [],
      options: {
      },
      user: {
        first_name: '',
        last_name: '',
        middle_name: '',
        gender: '',
        birthdate: new Date().toISOString().substr(0, 10),
        address: '',
        mobile_number: '',
        email: '',
        access: '',
        slug: '',
        is_active: '1',
        username: '',
        password: ''
      },
      isToggleUserModalClass: 'modal fade',
      isToggleUserSuccessModalClass: 'modal fade',
      action: 'create'
    }
  },
  mounted () {
    this.fetchUsers()
  },
  created () {
    this.fetchUsers()
    addTrail({
      action: 'view-user',
      user_id: window.localStorage.getItem('user_id'),
      module: 'user-management',
      data: '',
      slug: generateSlug()
    })
  },
  methods: {
    fetchUsers () {
      let vm = this
      getUser().then(user => {
        vm.tableData = user
      })
    },
    onCloseCreateUserModal () {
      this.isToggleUserModalClass = 'modal fade'
    },
    onClickCloseSuccessModal () {
      this.isToggleUserSuccessModalClass = 'modal fade'
    },
    onClickCreateUser () {
      this.isToggleUserModalClass = 'modal fade show d-block'
      this.action = 'create'
      this.user = {
        first_name: '',
        last_name: '',
        middle_name: '',
        gender: '',
        birthdate: '',
        address: '',
        mobile_number: '',
        email: '',
        slug: '',
        access: '',
        is_active: '1',
        username: '',
        password: ''
      }
    },
    onClickEditUser (user) {
      this.isToggleUserModalClass = 'modal fade show d-block'
      this.user = {
        first_name: user.dataValues.first_name,
        last_name: user.dataValues.last_name,
        middle_name: user.dataValues.middle_name,
        gender: user.dataValues.gender,
        birthdate: new Date(user.dataValues.birthdate).toISOString().substr(0, 10),
        address: user.dataValues.address,
        mobile_number: user.dataValues.mobile_number,
        email: user.dataValues.email,
        is_active: user.dataValues.is_active,
        access: user.dataValues.access,
        username: user.dataValues.username,
        password: ''
      }
      this.user_id = user.dataValues.id
      this.action = 'edit'
    },
    async validateForm () {
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        this.save()
      }
    },
    save () {
      if (this.user.password !== '') {
        const salt = bcrypt.genSaltSync(10)
        const hash = bcrypt.hashSync(this.user.password, salt)
        this.user.password = hash
      }

      if (this.action === 'create') {
        this.user.slug = generateSlug()
        let vm = this
        addUser(this.user).then(userResult => {
          vm.isToggleUserModalClass = 'modal fade'
          vm.isToggleUserSuccessModalClass = 'modal fade show d-block'
          addTrail({
            action: 'create-user',
            user_id: window.localStorage.getItem('user_id'),
            module: 'user-management',
            data: JSON.stringify(vm.user),
            slug: generateSlug()
          })
          vm.fetchUsers()
        })
      }

      if (this.action === 'edit') {
        let vm = this
        let userData = {
          first_name: this.user.first_name,
          last_name: this.user.last_name,
          middle_name: this.user.middle_name,
          gender: this.user.gender,
          birthdate: new Date(this.user.birthdate),
          address: this.user.address,
          mobile_number: this.user.mobile_number,
          email: this.user.email,
          is_active: this.user.is_active,
          access: this.user.access,
          username: this.user.username
        }
        if (this.user.password !== '') {
          userData = this.user.password
        }
        updateUser(userData, this.user_id).then(userResult => {
          vm.isToggleUserModalClass = 'modal fade'
          vm.isToggleUserSuccessModalClass = 'modal fade show d-block'
          addTrail({
            action: 'update-user',
            user_id: window.localStorage.getItem('user_id'),
            module: 'user-management',
            data: JSON.stringify(vm.user),
            slug: generateSlug()
          })
          vm.fetchUsers()
        })
      }
    }
  }
}
</script>