@import 'node_modules/bootstrap/scss/bootstrap';
@import "./../../../../node_modules//@fortawesome//fontawesome-free/css/all.min.css";
@import "../fonts/fonts";
@import './variables/_variables.scss';
@import './utilities/_utilities.scss';
@import './screens/_screen.scss';
@import "~vue-wysiwyg/dist/vueWysiwyg.css";

body {
  font-size: .89rem;
  font-family: 'Nunito-Regular', sans-serif;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll !important;
  .modal-dialog {
    .modal-header {
        border: none !important;
    }
    .modal-content {
        background-image: url(../images/143-eps.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        border: none !important;
    }
    .modal-footer {
        border: none !important;
    }
}
}

#modal-message {
    .modal-footer {
        display: flex;
        justify-content: center !important;
        padding-bottom: 2.5em;
    }
}

#navbar-menu {
  padding: 1em 2em;
  -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,0.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171, 0.15);
}

#menu-toggle {
    &:focus {
        box-shadow: none !important;
        outline: none !important;
        color: #FFFFFF !important;
    }
    &:hover {
        @extend .bg-purple-800;
    }
  }

.resize-handle {
    width: 0 !important;
    top: 0 !important;
}

.VueTables__table {
    th, td {
        box-shadow: none !important;
        outline: none !important;
        &:focus {
            box-shadow: none !important;
            outline: none !important;
        }
    }
}

.VueTables__search-field, .VueTables__limit-field {
  display: flex;
}

.VuePagination {
  justify-content: start !important;
  padding: 0;
  margin: 0;
  nav {
    width: 100%;
    display: flex;
    .VuePagination__count {
      padding-top: 1em;
      text-align: right !important;
      flex: 100% !important;
      max-width: auto !important;
    }
  }
}
#wrapper {
    overflow-x: hidden;
 }

#main-body {
  height: 90vh;
  max-height: 90vh;
  overflow: auto;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -18rem;
  background: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color: transparent;
}

#sidebar-wrapper .list-group {
  width: 18rem;
  background-color: transparent;
  .list-group-header {
    padding: 12px 36px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    color: #cedce4;
    font-weight: 700;
  }
  .list-group-item {
    background-color: transparent !important;
    color: #cedce4;
    font-size: .89rem;
    border: none !important;
    transition: all 0.2s;
    &:hover {
      color: #FFFFFF;
    }
  }
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

label {
  font-weight: 800;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -18rem;
  }
}

#modal-question-management {
  .modal-body {
    height: 700px !important;
    max-height: 700px !important;
    overflow: scroll !important;
  }
}

.exam__container {
  background: url(./../images/143-eps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .exam__content {
    top: 50% !important;
    left: 50%;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  }
  .exam__instruction {
    bottom: 3%;
    right: 3%;
  }

  .exam__next {
    bottom: 3%;
    left: 3%;
  }

  .exam__timer {
    top: 3%;
    right: 3%;
  }
}

.exam__description {
  font-size: 16px !important;
  span, p{
    font-size: 16px !important;
  }
  img {
    max-height: 150px !important;
  }
  font {
    span, p{
      font-size: 16px !important;
    }
    img {
      max-height: 150px !important;
    }
  }
}

.exam__choices {
  label {
    font-weight: 500;
    font-size: 14px;
  }
}

.custom-control-input:checked ~ .custom-control-label {
  font-weight: 800;
  color: $purple-900;
}

.landingpage__container {
  background-image: url(../images/143-eps.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  border: none !important;
  .landingpage__content {
    top: 50% !important;
    left: 50%;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  }
  .btn-img {
    img {
      height: 200px;
      width: 200px;
      object-fit: contain;
    }
  }
}
