<template>
    <div>
        <img src="../../../assets/images/school_logo.png" title="Exam Logo" alt="Exam Logo" class="img-fluid login__logo mb-5">
    </div>
</template>
<script>
export default {
// Lets go
}
</script>