<template>
  <div class="login vh-100 p-5">
    <div class="container-fluid bv-example-row h-100 bg-white rounded-lg">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row h-100">
        <div class="h-100 d-none d-xl-block d-lg-block d-md-block col-md-6 col-sm-12">
          <div class="position-relative h-100 login__banner">
            <div class="login__back position-absolute">
              <router-link to="/" class="btn btn-purple-700 rounded-circle"><i class="fa fas fa-arrow-left"></i></router-link>
            </div>
            <div class="d-flex justify-content-center login__picture m-0 w-100 position-absolute">
              <img src="../assets/images/banner.png" title="Exam Logo" alt="Exam Logo" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <ValidationObserver ref="observer">
            <div class="h-100 justify-content-center col-sm-12 position-relative px-5">
              <div class="position-absolute login__content w-75">
                <div class="login__title text-center pb-3">
                  <img src="../assets/images/school_logo.png" title="Exam Logo" alt="Exam Logo" class="img-fluid login__logo mb-5">
                  <h6 class="text-3xl h-30">Log in to your account</h6>
                </div>
                <div class="login__form w-100">
                  <form>
                    <div class="form-group text-center" v-if="errorMessage">
                      <span class="text-danger">{{errorMessage}}</span>
                    </div>
                    <div class="form-group">
                      <ValidationProvider name="username" rules="required|alpha_num">
                        <div slot-scope="{ errors }">
                          <label for="exampleInputEmail1" class="indigo-800">Username</label>
                          <input type="text" v-model="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <p class="text-danger">{{ errors[0] }}</p>
                        </div>
                      </ValidationProvider>
                    </div>
                    <div class="form-group">
                      <ValidationProvider name="password" rules="required|alpha_num">
                        <div slot-scope="{ errors }">
                          <label for="exampleInputPassword1" class="indigo-800">Password</label>
                          <input type="password" v-model="password" class="form-control" id="exampleInputPassword1"  @keyup.enter="onValidate">
                          <p class="text-danger">{{ errors[0] }}</p>
                        </div>
                      </ValidationProvider>
                    </div>
                    <div class="form-group login__forgot text-right">
                      <a href="" class="indigo-800 text-decoration-none">Forgot Password</a>
                    </div>
                  </form>
                  <button class="btn w-default btn-purple-700 p-2 d-block w-100" @click="onValidate">Log in</button>
                </div>
              </div>
            </div>
          </ValidationObserver>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'

import { findUser } from '../backend/repositories/users'
import { addTrail } from '../backend/repositories/audit_trails'
import { generateSlug } from '../backend/services/utilities'
import bcrypt from 'bcryptjs'
export default {
  data () {
    return {
      username: '',
      password: '',
      errorMessage: ''
    }
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    async onValidate () {
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        this.authenticate()
      }
    },
    authenticate () {
      let vm = this
      findUser({
        username: vm.username
      }).then(user => {
        if (user.length > 0) {
          if (bcrypt.compare(vm.password, user[0].dataValues.password)) {
            vm.$router.push({name: 'exams'})
            window.localStorage.setItem('user_id', user[0].dataValues.id)
            window.localStorage.setItem('user_access', user[0].dataValues.access)
            window.localStorage.setItem('user', JSON.stringify(user[0].dataValues))
            addTrail({
              action: 'login-user',
              user_id: window.localStorage.getItem('user_id'),
              module: 'login',
              data: JSON.stringify(user[0].dataValues),
              slug: generateSlug()
            })
            return
          }
          vm.errorMessage = 'Failed to login. Password incorrect. Please try again.'
          return
        }

        vm.errorMessage = 'User not found: Failed to login. Please try again.'
      }).catch((error) => {
        vm.errorMessage = 'Failed to login. Please contact Administrator.'
        console.log(error)
      })
    }
  }
}
</script>