<template>
  <div class="exam__container d-flex vh-100 p-3 mx-auto flex-column text-center justify-content-center position-relative">
    <div class="col-lg-6 col-md-6 col-sm-12 exam__content position-absolute">
      <h1 class="cover-heading pb-5">Hi {{student.first_name}}</h1>
      <h3 class="cover-heading">{{exam.name}}</h3>
      <p class="lead">{{exam.description}}</p>
      <p class="lead">Time Limit: {{exam.hours}}:{{exam.minutes}}</p>
      <p class="lead">
        <router-link to="/register" class="btn btn-lg btn-secondary">Go Back</router-link>
        <router-link to="/subject" class="btn btn-lg btn-purple-500">Start Exam</router-link>
      </p>
    </div>
    <div class="position-absolute exam__instruction">
      <button class="btn btn-purple-400 p-1 rounded-circle" @click="isToggleModalClass = 'modal fade show d-block'"><i class="fas fa-3x fa-question-circle"></i></button>
    </div>
    <div :class="isToggleModalClass" id="modal-instructions">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body pt-5 pb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <i class="fas fa-info-circle fa-4x pb-3 purple-600"></i>
                  <h3>Instructions</h3>
                  <p class="text-left">{{exam.instructions}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-right">
            <button class="btn btn-secondary px-4" @click="isToggleModalClass = 'modal fade'">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getExam } from '../backend/repositories/exams'
import { getStudent } from '../backend/repositories/students'

export default {
  data () {
    return {
      exam: {},
      student: {},
      isToggleModalClass: 'modal fade'
    }
  },
  created () {
    if (!window.localStorage.getItem('student_id')) {
      this.$router.push({name: 'register-student'})
    }
    this.fetchExam()
    this.fetchStudent()
  },
  methods: {
    fetchExam () {
      getExam().then(examDetails => {
        this.exam = examDetails
      })
    },
    fetchStudent () {
      getStudent({
        id: window.localStorage.getItem('student_id')
      }).then(result => {
        this.student = result[0]
      })
    }
  }
}
</script>