<template>
  <div class="registration p-5">
    <div class="container-fluid registration__card bv-example-row h-100 bg-white rounded-lg">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row ">
        <div class=" d-none d-xl-block d-lg-block d-md-block col-md-4 col-sm-12">
          <div class="position-relative  registration__banner">
            <div class="registration__back position-absolute">
              <router-link to="/" class="btn btn-purple-700 rounded-circle"><i class="fa fas fa-arrow-left"></i></router-link>
            </div>
            <div class="d-flex justify-content-center registration__picture m-0 w-100">
              <img src="../assets/images/student.png" title="Exam Logo" alt="Exam Logo" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class=" justify-content-center col-sm-12 position-relative px-5 pb-5">
            <div class="registration__content">
              <div class="registration__title text-center pb-3">
                <img src="../assets/images/school_logo.png" title="Exam Logo" alt="Exam Logo" class="img-fluid registration__logo mb-3">
                <h4 class="text-3xl h-30">Fill out the needed information</h4>
              </div>
              <div class="registration__form w-100">
                <ValidationObserver ref="observer">
                  <form>
                    <div class="form-row">
                      <div class="col">
                        <ValidationProvider name="first name" rules="required|alpha_spaces">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">First Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" v-model="student.first_name">
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col">
                        <ValidationProvider name="last name" rules="required|alpha_spaces">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">Last Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" v-model="student.last_name">
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col">
                        <ValidationProvider name="middle initial" rules="alpha_spaces">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">Middle Initital</label>
                            <input type="text" class="form-control" v-model="student.middle_initial">
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="form-row pt-3">
                      <div class="col">
                        <ValidationProvider name="birthdate" rules="required">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">Birthdate <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" v-model="student.birthdate">
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col">
                        <ValidationProvider name="gender" rules="required">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">Gender <span class="text-danger">*</span></label>
                            <select class="form-control rounded-0" v-model="student.gender">
                              <option hidden>Choose your gender</option>
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                            </select>
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="form-row pt-3">
                      <div class="col">
                        <ValidationProvider name="school last attended" rules="required">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">School Last Attended <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" v-model="student.last_attended_school">
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col">
                        <ValidationProvider name="school type" rules="required">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">Public or Private <span class="text-danger">*</span></label>
                            <select class="form-control rounded-0" v-model="student.school_type">
                              <option value="PUBLIC">Public</option>
                              <option value="PRIVATE">Private</option>
                            </select>
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="form-row pt-3">
                      <div class="col">
                        <ValidationProvider name="strand" rules="required">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">Strand <span class="text-danger">*</span></label>
                            <select class="form-control rounded-0" v-model="student.strand_id">
                              <option v-for="strand in strands" :value="strand.id">({{strand.code}}) {{strand.name}}</option>
                            </select>
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="form-row py-3">
                      <div class="col">
                        <ValidationProvider name="priority course" rules="required">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">Priority Cource (1st Choice) <span class="text-danger">*</span></label>
                            <select class="form-control rounded-0" v-model="student.first_choice_course">
                              <option v-for="course in courses" :value="course.id">({{course.code}}) {{course.name}}</option>
                            </select>
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                      <div class="col">
                        <ValidationProvider name="second priority" rules="required">
                          <div slot-scope="{ errors }">
                            <label class="indigo-800">2nd Priority Cource (2nd Choice) <span class="text-danger">*</span></label>
                            <select class="form-control rounded-0" v-model="student.second_choice_course">
                              <option v-for="course in courses" :value="course.id">({{course.code}}) {{course.name}}</option>
                            </select>
                            <p class="mb-0 text-danger">{{ errors[0] }}</p>
                          </div>
                        </ValidationProvider>
                      </div>
                    </div>
                  </form>
                </ValidationObserver>
                <div class="d-flex">
                <a href="#" class="d-block mt-3 w-75" @click="onClickEnterUserCode">Already registered? Enter your student code</a>
                <button class="btn w-default btn-purple-700 p-2 w-25" @click="onValidate">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ValidationObserver ref="studentCodeObserver">
      <div :class="isToggleModalClass" id="modal-message">
        <div class="modal-dialog modal-md modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body pt-5 pb-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <i class="far fa-check-circle purple-800 fa-5x pb-3"></i>
                    <h2>Student Code</h2>
                    <span><i class="fas fa-info-circle"></i> This will be given by the guidance staff</span>
                    <ValidationProvider name="student code" rules="required">
                      <div slot-scope="{ errors }">
                        <input class="form-control" v-model="code">
                        <p class="mb-0 text-danger">{{ errors[0] }}</p>
                        <span v-if="errorMessage" class="text-danger">{{errorMessage}}</span>
                      </div>
                    </ValidationProvider>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer text-center">
              <button class="btn btn-lg btn-secondary px-4" @click="isToggleModalClass = 'modal fade'">Cancel</button>
              <button class="btn btn-lg btn-purple-700 px-4" @click="onValidateStudentCode">Proceed to Exam</button>
            </div>
          </div>
        </div>
      </div>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full'

import { getCourses } from '../backend/repositories/courses'
import { getStrands } from '../backend/repositories/strands'
import { addStudent, getStudent } from '../backend/repositories/students'
import { generateSlug } from '../backend/services/utilities'

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      courses: [],
      strands: [],
      code: '',
      student: {
        slug: generateSlug(),
        first_name: '',
        last_name: '',
        middle_initial: '',
        birthdate: new Date().toISOString().substr(0, 10),
        gender: 'M',
        last_attended_school: '',
        school_type: 'PUBLIC',
        strand_id: '',
        first_choice_course: '',
        second_choice_course: ''
      },
      isToggleModalClass: 'modal fade',
      errorMessage: ''
    }
  },
  created () {
    this.fetchCourses()
    this.fetchStrands()
  },
  methods: {
    fetchCourses () {
      let vm = this
      getCourses().then(coursesResult => {
        vm.courses = coursesResult
      })
    },
    fetchStrands () {
      let vm = this
      getStrands().then(strandsResult => {
        vm.strands = strandsResult
      })
    },
    async onValidate () {
      const isValid = await this.$refs.observer.validate()
      if (isValid) {
        this.save()
      }
    },
    save () {
      let vm = this
      addStudent(this.student).then(result => {
        window.localStorage.setItem('student_id', result.id)
        vm.$router.push({name: 'exam'})
      })
    },
    onClickEnterUserCode () {
      this.isToggleModalClass = 'modal fade show d-block'
    },
    async onValidateStudentCode () {
      const isValid = await this.$refs.studentCodeObserver.validate()
      if (isValid) {
        this.checkStudent()
      }
    },
    checkStudent () {
      let vm = this
      getStudent({
        slug: vm.code
      }).then(result => {
        console.log('asdasd', result)
        if (result.length > 0) {
          if (result[0].dataValues.date_taken === '' || result[0].dataValues.date_taken === null) {
            window.localStorage.setItem('student_id', result[0].dataValues.id)
            vm.$router.push({name: 'exam'})
            vm.errorMessage = ''
            return
          }
          vm.errorMessage = 'You have already taken the exam.'
          return
        }
        vm.errorMessage = 'Invalid student code. Please try again.'
      })
    }
  }
}
</script>