<template>
  <div>
    <!--Category-->
    <div class="exam__container d-flex vh-100 p-3 mx-auto flex-column text-center justify-content-center position-relative" v-if="is_category === true">
      <div class="exam__timer position-absolute">
        <div class="row">
          <div class="col" v-for="progress in displayProgress">
            <div class="px-5">
              <h6><strong class="purple-900">{{progress.name}}</strong></h6> 
              <h6>{{progress.progress}}/{{progress.total_items}}</h6>
            </div>
          </div>
          <div class="col">
            <h2 class="purple-900">{{ formattedTimeLeft }}</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 exam__content position-absolute">
        <h3 class="cover-heading pb-4">Set {{current_subject.name}}</h3>
        <h6 class="cover-heading">{{current_subject.description}}</h6>
        <p class="lead">Total Items: {{total_question}} </p>
        <p class="lead">
          <button class="btn btn-lg btn-purple-900 px-5" @click="setQuestion">Proceed</button>
        </p>
      </div>
      <!-- <div class="position-absolute exam__instruction">
        <button class="btn btn-purple-400 p-1 rounded-circle" @click="isToggleModalClass = 'modal fade show d-block'"><i class="fas fa-3x fa-question-circle"></i></button>
      </div> -->
    </div>

    <!--Question-->

    <div class="exam__container d-flex vh-100 p-3 mx-auto flex-column justify-content-center position-relative" v-if="is_question === true">
      <div class="exam__timer position-absolute">
        <div class="row">
          <div class="col" v-for="progress in displayProgress">
            <div class="px-5">
              <h5>{{progress.name}}</h5> 
              <h5>{{progress.progress}}/{{progress.total_items}}</h5>
            </div>
          </div>
          <div class="col">
            <h2 class="purple-900">{{ formattedTimeLeft }}</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 exam__content position-absolute">
        <h5 class="cover-heading pb-3">{{current_question.title}}</h5>
        <div class="exam__description" v-html="current_question.description"></div>
        <div class="text-left py-3 exam__choices">
          <div class="custom-control custom-radio pb-3" v-for="choice in current_question.choices">
            <input type="radio" v-model="selected" :id="`${current_question.slug}${choice.id}`" name="choice" :value="choice.id" class="custom-control-input">
            <label class="custom-control-label" :for="`${current_question.slug}${choice.id}`"><div>{{choice.text}}</div></label>
          </div>
        </div>
      </div>
      <div class="position-absolute exam__next d-flex w-100 justify-content-center">
        <div class="progress w-100 text-center my-3">
          <div class="progress-bar progress-bar-striped bg-indigo-600 progress-bar-animated" role="progressbar" :aria-valuenow="percentage" aria-valuemin="0" aria-valuemax="100" :style="`width: ${percentage}%`"></div>
        </div>
        <div class="w-25 text-center">
          <button class="btn btn-lg btn-purple-900 px-5" @click="nextQuestion" :disabled="selected === null">Next</button>
        </div>
      </div>
    </div>

    <!--Finish-->
    <div class="exam__container d-flex vh-100 p-3 mx-auto flex-column text-center justify-content-center position-relative" v-if="is_finish === true">
      <div class="col-lg-6 col-md-6 col-sm-12 exam__content position-absolute">
        <div v-if="score >= exam.passing_grade" class="text-center">
          <i class="far fa-smile fa-5x pb-3 purple-800"></i>
          <h1 class="cover-heading pb-5 text-success" >PASSED</h1>
        </div>
        <div v-else class="text-center">
          <i class="far fa-frown fa-5x pb-3 purple-800"></i>
          <h1 class="cover-heading pb-5 text-danger">FAILED</h1>
        </div>
        <h1 class="cover-heading pb-5">Your Score is {{score}} out of {{correct_answers.length}} items</h1>
        <button class="btn btn-lg btn-purple-900 px-5" @click="onClickOk">Ok</button>
      </div>
    </div>

    <div :class="isToggleSuccessModalClass" id="modal-message">
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body pt-5 pb-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <i class="fas fa-stopwatch purple-800 fa-5x pb-3"></i>
                  <h2>Time is up</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button class="btn btn-lg btn-purple-700 px-4" @click="isToggleSuccessModalClass = 'modal fade'">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getExam } from '../backend/repositories/exams'
import { getCompleteExam } from '../backend/repositories/subjects'
import { addResults } from '../backend/repositories/results'
import { updateStudent } from '../backend/repositories/students'
import _ from 'lodash'

const FULL_DASH_ARRAY = 283
export default {
  data () {
    return {
      exam: {},
      isToggleModalClass: 'modal fade',
      student_id: window.localStorage.getItem('student_id'),
      subjects: [],
      subject_index: 0,
      current_subject: {},
      items: 0,
      question_index: 0,
      questions: [],
      is_category: true,
      is_question: false,
      current_question: {},
      total_question: 0,
      total_subject: 0,
      is_finish: false,
      selected: null,
      answers: [],
      correct_answers: [],
      answers_logs: [],
      score: 0,
      percentage: 0,
      time_limit: 0,
      timePassed: 0,
      timerInterval: null,
      isToggleSuccessModalClass: 'modal fade',
      displayProgress: []
    }
  },
  computed: {
    circleDasharray () {
      return `${(this.timeFraction * FULL_DASH_ARRAY).toFixed(0)} 283`
    },

    formattedTimeLeft () {
      const timeLeft = this.timeLeft
      const minutes = Math.floor(timeLeft / 60)
      let seconds = timeLeft % 60

      if (seconds < 10) {
        seconds = `0${seconds}`
      }

      return `${minutes}:${seconds}`
    },

    timeLeft () {
      return this.time_limit - this.timePassed
    },

    timeFraction () {
      const rawTimeFraction = this.timeLeft / this.time_limit
      return rawTimeFraction - (1 / this.time_limit) * (1 - rawTimeFraction)
    }
  },
  watch: {
    timeLeft (newValue) {
      if (newValue === 0) {
        this.onTimesUp()
      }
    }
  },
  mounted () {
    this.startTimer()
  },
  created () {
    this.fetchExam()
    this.fetchExamSet()
  },
  methods: {
    onTimesUp () {
      this.isToggleSuccessModalClass = 'modal fade d-block show'
      this.is_category = false
      this.is_question = false
      this.is_finish = true
      this.saveResults()
    },

    startTimer () {
      this.timerInterval = setInterval(() => (this.timePassed += 1), 1000)
    },

    fetchExam () {
      getExam().then(examDetails => {
        this.exam = examDetails
        this.time_limit = ((parseInt(this.exam.hours) * 60) + parseInt(this.exam.minutes)) * 60
      })
    },

    fetchExamSet () {
      let vm = this
      getCompleteExam().then(result => {
        vm.subjects = result
        vm.total_subject = vm.subjects.length
        vm.current_subject = vm.subjects[vm.subject_index]

        vm.questions = _.shuffle(vm.current_subject.questions)
        vm.total_question = vm.current_subject.questions.length
        vm.current_question = vm.questions[vm.question_index]
        result.map(subject => {
          vm.displayProgress.push({
            total_items: subject.questions.length,
            name: subject.name,
            progress: 0
          })
          subject.questions.map(question => {
            question.choices.map(choice => {
              if (choice.is_answer === '1') {
                this.correct_answers.push(choice.id)
              }
            })
          })
        })
      })
    },

    setQuestion () {
      this.is_category = false
      this.is_question = true
      this.subject_index += 1
    },

    nextQuestion () {
      this.displayProgress[this.subject_index - 1].progress += 1
      this.answers.push(this.selected)
      this.percentage = (this.answers.length / this.correct_answers.length) * 100
      this.answers_logs.push({
        question_id: this.current_question.id,
        choice_id: this.selected,
        student_id: parseInt(this.student_id),
        subject_id: this.current_subject.id,
        correct_answer: this.findAnswerId(),
        is_correct: (this.correct_answers.includes(this.selected)) ? '1' : '0'
      })

      if (this.correct_answers.includes(this.selected)) {
        this.score += 1
      }

      this.selected = null
      this.question_index += 1

      if (this.total_question > this.question_index) {
        this.current_question = this.questions[this.question_index]
      } else {
        this.is_category = true
        this.is_question = false
        this.question_index = 0

        if (this.total_subject === this.subject_index) {
          this.is_category = false
          this.is_question = false
          this.is_finish = true
          this.saveResults()
        } else {
          // Set subject and questions
          this.current_subject = this.subjects[this.subject_index]
          this.questions = _.shuffle(this.current_subject.questions)
          this.current_question = this.questions[this.question_index]
          this.total_question = this.questions.length
        }
      }
    },

    findAnswerId () {
      let answer = _.find(this.current_question.choices, _.matchesProperty('is_answer', '1'))
      return answer.id
    },

    saveResults () {
      clearInterval(this.timerInterval)
      addResults(this.answers_logs)
      updateStudent({
        score: this.score,
        date_taken: new Date(),
        grade: (this.score >= this.exam.passing_grade) ? '1' : '0'
      }, parseInt(this.student_id))
    },

    onClickOk () {
      window.localStorage.removeItem('student_id')
      this.$router.push({name: 'landing-page'})
    }
  }
}
</script>