.btn-purple-100 {
    @extend .bg-purple-100;
    color: #ffffff;

    &:hover {
        @extend .bg-purple-200;
    }
}

.btn-purple-200 {
    @extend .bg-purple-200;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-300;
    }
}

.btn-purple-300 {
    @extend .bg-purple-300;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-400;
    }
}

.btn-purple-400 {
    @extend .bg-purple-400;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-500;
    }
}

.btn-purple-500 {
    @extend .bg-purple-500;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-600;
    }
}

.btn-purple-600 {
    @extend .bg-purple-600;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-500;
    }
}


.btn-purple-700 {
    @extend .bg-purple-700;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-600;
    }
}

.btn-purple-800 {
    @extend .bg-purple-800;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-700;
    }
}

.btn-purple-900 {
    @extend .bg-purple-900;
    color: #ffffff;
    
    &:hover {
        @extend .bg-purple-800;
    }
}
