.indigo-100 {
    color: $indigo-100 !important;
}

.indigo-200 {
    color: $indigo-200 !important;
}

.indigo-300 {
    color: $indigo-300 !important;
}

.indigo-400 {
    color: $indigo-400 !important;
}

.indigo-500 {
    color: $indigo-500 !important;
}

.indigo-600 {
    color: $indigo-600 !important;
}

.indigo-700 {
    color: $indigo-700 !important;
}

.indigo-800 {
    color: $indigo-800 !important;
}

.indigo-900 {
    color: $indigo-900 !important;
}

.bg-indigo-100 {
    background-color: $indigo-100 !important;
}

.bg-indigo-200 {
    background-color: $indigo-200 !important;
}

.bg-indigo-300 {
    background-color: $indigo-300 !important;
}

.bg-indigo-400 {
    background-color: $indigo-400 !important;
}

.bg-indigo-500 {
    background-color: $indigo-500 !important;
}

.bg-indigo-600 {
    background-color: $indigo-600 !important;
}

.bg-indigo-700 {
    background-color: $indigo-700 !important;
}

.bg-indigo-800 {
    background-color: $indigo-800 !important;
}

.bg-indigo-900 {
    background-color: $indigo-900 !important;
}

.purple-100 {
    color: $purple-100 !important;
}

.purple-200 {
    color: $purple-200 !important;
}

.purple-300 {
    color: $purple-300 !important;
}

.purple-400 {
    color: $purple-400 !important;
}

.purple-500 {
    color: $purple-500 !important;
}

.purple-600 {
    color: $purple-600 !important;
}

.purple-700 {
    color: $purple-700 !important;
}

.purple-800 {
    color: $purple-800 !important;
}

.purple-900 {
    color: $purple-900 !important;
}

.bg-purple-100 {
    background-color: $purple-100 !important;
}

.bg-purple-200 {
    background-color: $purple-200 !important;
}

.bg-purple-300 {
    background-color: $purple-300 !important;
}

.bg-purple-400 {
    background-color: $purple-400 !important;
}

.bg-purple-500 {
    background-color: $purple-500 !important;
}

.bg-purple-600 {
    background-color: $purple-600 !important;
}

.bg-purple-700 {
    background-color: $purple-700 !important;
}

.bg-purple-800 {
    background-color: $purple-800 !important;
}

.bg-purple-900 {
    background-color: $purple-900 !important;
}

