input[type=text], input[type=password], input[type=number], input[type=email], select, textarea {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid $purple-800 !important;
    border-radius: 0 !important;
    &:focus {
        box-shadow: none !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 2px solid $purple-500 !important;
    }
}

textarea {
    height: 150px !important;
}