.pagination {
    .page-item {
        cursor: pointer;
        .page-link{
            @extend .purple-700;
        }
    }
    .disabled {
        .page-link{
            color: #8c8a8a !important;
        }
    }
    .active {
        .page-link {
            @extend .bg-purple-700;
            color: #ffffff !important;
            border-color: $purple-700;
        }
    }
}
