@font-face {
    font-family: 'Nunito Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Regular'), url('../fonts/Nunito-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Nunito Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Italic'), url('../fonts/Nunito-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Nunito ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito ExtraLight'), url('../fonts/Nunito-ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Nunito ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito ExtraLight Italic'), url('../fonts/Nunito-ExtraLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Nunito Light';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Light'), url('../fonts/Nunito-Light.woff') format('woff');
}


@font-face {
    font-family: 'Nunito Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Light Italic'), url('../fonts/Nunito-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Nunito SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito SemiBold'), url('../fonts/Nunito-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Nunito SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito SemiBold Italic'), url('../fonts/Nunito-SemiBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Nunito Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Bold'), url('../fonts/Nunito-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Nunito Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Bold Italic'), url('../fonts/Nunito-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Nunito ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito ExtraBold'), url('../fonts/Nunito-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Nunito ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito ExtraBold Italic'), url('../fonts/Nunito-ExtraBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Nunito Black';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Black'), url('../fonts/Nunito-Black.woff') format('woff');
}


@font-face {
    font-family: 'Nunito Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nunito Black Italic'), url('../fonts/Nunito-BlackItalic.woff') format('woff');
}