.exam {
    & {
        background: rgb(49,46,167);
        background: linear-gradient(180deg, rgba(49,46,167,1) 0%, rgba(86,83,183,1) 100%);
    }
    &__back {
        top: 50px;
        margin-left: 3em;
    }
    &__title {
        top: 100px;
    }
    &__form{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    &__description {
        max-height: 180px;
        overflow-y: auto;
    }
    &__footer {
        bottom: 100px;
    }
    &__picture {
        top: 50% !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
        text-align: center;
        > img {
            width: 700px;
            height: 100%;
        }
    }
}

#result-container {
    position: absolute;
    top: 0px;
    z-index: 9999;
    width: 100vw;
    background: white;
    height: 100vh;
    left: 0px;
    line-height: 2;
    overflow: hidden;
}
