.login {
    & {
        background: rgb(49,46,167);
        background: linear-gradient(180deg, rgba(49,46,167,1) 0%, rgba(86,83,183,1) 100%);
    }
    &__back {
        top: 20px;
        margin-left: 1em;
    }
    &__content {
        top: 50% !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
    }
    &__picture {
        top: 50% !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
        text-align: center;
        > img {
            width: 700px;
            height: 100%;
        }
    }
    &__forgot {
        font-size: 14px;
    }
    &__logo {
        height: 80px;
    }
    label {
        font-size: 12px;
        font-weight: 600;
    }
    .text-danger {
        font-size: 12px;
    }
}
